body {
    background-color: lightblue;
  }
  
  ul {
    color: white;
    text-align: center;
  }
  
  a {
    font-family: verdana;
    font-size: 20px;
    color:rgb(255, 255, 255);
    background-color: rgb(53, 138, 236);
  }
